.main-container {
  background-color: #edf2f7;
  height: 100%;
}

/* Flexbox layout for customer cards */
.customer-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

/* Customer card specific styling */
app-customer-card {
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 280px;
  margin: 10px 0;
}
